<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.CapstoneProject.wicara">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WICARA">
        <activity
            android:name=".AutentikasiLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ChangeProfilActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PlayVidioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DetailArtikel1Activity"
            android:exported="false" />
        <activity
            android:name=".ui.DetailArticle1Activity"
            android:exported="false" />
        <activity
            android:name=".ui.SpechToTextActivity"
            android:exported="false" />
        <activity
            android:name=".ui.VidioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ArtikelActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ChoseLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.TextToTextActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".MainActivity2" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_main2" /> -->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SignUpActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".ui.SplashScreenActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".ui.GuideActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".ui.SplashScreenActivity" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".MainActivity2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>